@import "tailwindcss";

@theme {
  --color-background: #ff6f03;
  --color-secondary: #ffffff;
  --font-sans: var(--font-league), ui-sans-serif, system-ui, sans-serif;
}

@utility font-league {
  font-family: var(--font-league), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ff7903;
  --secondary: #ffffff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
